<html>
<head>
<title>RH QA</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

</head>
<body>
	<div>
		<a href="/login">
			<span  class='glyphicon glyphicon-home'> Accueil
		</a>
		</span>
		<h3>RH QA</h3>
	</div>
{% block content %}
{% endblock %}
</body>
</html>
