<html>
<head>
<title>RH QA</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

</head>
<body>
	<nav class="navbar navbar-default" style="position:relative;">
  		<div class="container-fluid">
  			<div class="navbar-header">
  				 <a class="navbar-brand" href="#">RH QA</a>
  			</div>

    		<ul class="nav navbar-nav">
    			<li><a href="/login">Accueil</a></li>
    			<li><a href="/login">Connexion</li></a>
    			<li><a href="/login">A propos</li></a>
    			<li><a href="/login">Déconnexion</li></a>
    		</ul>
  		</div>
	</nav>

{% block content %}
{% endblock %}
</body>
</html>
