<html>
<head>
<title>RH</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

</head>
<body>
  <div class="container">
  	<nav class="navbar navbar-default">
    		<div class="container-fluid">
    			<div class="navbar-header">
    				 <a class="navbar-brand" href="/login">RH</a>
    			</div>

      		<ul class="nav navbar-nav">
      			<li><a href="/login">Accueil</a></li>
      			<li><a href="/login">Connexion</a></li>
      			<li><a href="/login">A propos</a></li>
            <li><a href="/listUsers">Liste</a></li>
      		</ul>
          <ul  class="nav navbar-nav navbar-right">
            <li>
               <a href="/welcome">
              <div>
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ username }}
              </div>
              </a>
              </li>
            <li>
              <a href="/logout"><div>
              <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Déconnexion</div>
              </a>
            </li>
          </ul>
    		</div>
  	</nav>

    <div>

<div class="row">
<div class="col-sm-4"></div>
<div class="col-sm-4">
      {% block content %}
      {% endblock %} 
 
</div>
<div class="col-sm-4"></div>      
    </div>
  </div>  


</body>
</html>
