{% extends "base.html" %}
{% block content %}
<form action="login" method="post">
    {% csrf_token %}
    {% if error %}
    <p>
        {{ error }}
    </p>
    {% endif %} 
    <p>
        <label>Email : </label>
        <input name="email" id="email" size="30" type="email" />
    <p>
    <p>
        <label>Mot de passe : </label>
        <input name="password" id="password" size="30" type="password" />
    </p>
    <p>
        <input type="submit" value="Se connecter" />
        <a href="new">Créer un compte</a>
    </p>
</form>
{% endblock %}

