{% extends "base.html" %}
{% block content %}
<div class="panel panel-info">
	<div style="text-align: center" class="panel panel-heading">
		<h3>Members of RH</h3>
	</div>
	<div class="panel panel-body">
		<table class="table table-hover">
			<tr>
				<th>Nom</th>
				<th>Update</th>
				<th>Remove</th>
			</tr>	
			{% for user in users %}
    		<tr>
    			<td>
    				{{ user.first }} {{ user.last }}
    			</td>
    			<td>
    				<button class="btn btn-success">
    					<span class="glyphicon glyphicon-ok"></span>
    				</button>
    			</td>
    			<td>
    				<button class="btn btn-danger">
    					<span class="glyphicon glyphicon-trash"></span>
    				</button>
    			</td>
    		</tr>
    		{% endfor %}
		</table>
		<h3> Âge total =  {{ total_age }} </h3>
	</div>
</div>
{% endblock %}
